.no-display {
  display: none;
}

.main {
  display: flex;
  justify-content: center;
  overflow: hidden;
  font-family: sans-serif, "Lato";
  align-items: flex-start;
  color: #494545;
}

.main .main-content {
  margin: 30px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

@media screen and (max-width: 800px) {
  .main .main-content {
    margin-top: 5px;
    margin-bottom: 0;
  }
}

.main .main-content a {
  text-decoration: none;
  color: #494545;
  font-size: 20px;
  padding: 10px 40px;
  border: 1px solid #494545;
  max-width: 102px;
  background-color: #cfdacd;
}

.main .main-content a:hover {
  background-color: #494545;
  color: #fff;
}

@media screen and (max-width: 400px) {
  .main .main-content a {
    align-self: center;
    margin-right: 20px;
  }
}

.main .main-content h1 {
  font-size: 25px;
}

.main .main-content p {
  font-size: 20px;
  line-height: 1.5;
}

.main .main-img {
  padding: 10px;
  margin-top: 30px;
}

.main .main-img img {
  width: 100%;
  max-width: 700px;
  max-height: auto;
}

@media screen and (max-width: 400px) {
  .main .main-img {
    margin-top: 10px;
  }
}

.main .main-left {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #f0eeee;
  width: 300px;
  padding: 10px;
}

@media screen and (max-width: 700px) {
  .main .main-left {
    display: none;
  }
}

.main .main-left .main-left-nav li {
  list-style: none;
  padding: 10px;
}

.main .main-left .main-left-nav a {
  text-decoration: none;
  font-size: 14px;
  color: #494545;
}

.main .main-left .main-left-nav a:hover {
  color: #676c68;
}

.main .main-left .main-left-nav i {
  padding-right: 5px;
}

.main .main-left .main-left-bar {
  color: #494545;
  padding: 10px;
  font-size: 14px;
  width: 100%;
}

.main .main-left .main-left-bar::before {
  content: "\203A";
  font-size: 25px;
  padding-right: 13px;
}

.main .main-left .main-left-bar:hover {
  cursor: pointer;
  color: #676c68;
}

.main .main-left .active::before {
  content: "\2304";
  padding-right: 0;
}

.main .main-left .main-left-section {
  padding: 0 25px;
  font-size: 14px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.main .main-left .main-left-section .section-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.main .main-left .main-left-section .section-item i {
  color: #f0eeee;
}

.main .main-left .main-left-section .section-item i:hover {
  color: #676c68;
}

.main .main-left .main-left-section .section-item:hover {
  cursor: pointer;
  color: #676c68;
}

.main .main-left .main-left-section .section-item:hover i {
  color: #a9aca9;
}

.main .main-left .main-left-section .section-item .section-item-content {
  display: flex;
  justify-content: space-between;
}

.main .main-left .main-left-section .section-item-add {
  display: flex;
  flex-direction: column;
  padding: 10px;
  line-height: 20px;
}

.main .main-left .main-left-section .section-item-add input {
  height: 20px;
  margin-bottom: 15px;
  padding-left: 10px;
}

.main .main-left .main-left-section .section-item-add .add-buttons a {
  text-decoration: none;
  color: #494545;
  padding: 10px;
}

.main .main-left .main-left-section .section-item-add .add-buttons .add-buttons-add {
  background-color: #494545;
  color: #fff;
}

.main .main-left .main-left-section .section-item-add .add-buttons .add-buttons-cancel:hover {
  text-decoration: underline;
}

.main .main-left .main-left-section .add-section {
  color: #585555;
  justify-content: flex-start;
  width: 100px;
}

.main .main-left .main-left-section .add-section::before {
  content: "\FF0B";
  font-size: 15px;
  padding-right: 5px;
}

.main .main-left .main-left-section .add-section:hover {
  background-color: #494545;
  color: #fff;
}

.main .main-left .main-left-section .no-display {
  display: none;
}

.main .main-tasks {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 20px 10px 20px;
  width: 800px;
  border: 1px Solid #c7c3c3;
  border-top: none;
  display: flex;
  flex-direction: column;
  flex-shrink: 4;
}

.main .main-tasks .main-tasks-capture {
  font-size: 18px;
}

.main .main-tasks .main-tasks-item {
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  border-bottom: 1px Solid #c7c3c3;
}

.main .main-tasks .main-tasks-item .item-main {
  display: flex;
}

.main .main-tasks .main-tasks-item .item-minor {
  display: flex;
}

.main .main-tasks .main-tasks-item .item-minor i {
  padding-left: 20px;
  color: #fff;
}

.main .main-tasks .main-tasks-item .item-minor i:hover {
  color: #676c68;
}

.main .main-tasks .main-tasks-item input {
  width: 18px;
  height: 18px;
}

.main .main-tasks .main-tasks-item .item-title {
  padding-left: 20px;
}

.main .main-tasks .main-tasks-item:hover i {
  color: #a9aca9;
}

.main .main-tasks .add-task {
  color: #585555;
  justify-content: flex-start;
  margin-top: 10px;
  padding: 10px 0 10px 10px;
  border-bottom: none;
  width: 100px;
}

.main .main-tasks .add-task::before {
  content: "\FF0B";
  font-size: 15px;
  padding-right: 5px;
}

.main .main-tasks .add-task:hover {
  background-color: #494545;
  color: #fff;
}

.main .no-display {
  display: none;
}

.main .showed {
  display: flex;
  width: 700px;
}

.top-header {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px Solid #c7c3c3;
  justify-content: space-around;
  height: 40px;
  background-color: #f0eeee;
  align-items: center;
}

.top-header .top-header-logo {
  font-family: sans-serif, Arial, Helvetica, "Permanent Marker";
  font-size: 18px;
  color: #494545;
}

.top-header .top-header-logo .fa {
  display: none;
  padding: 4px 6px;
}

.top-header .top-header-logo .fa:hover {
  color: white;
  background-color: #494545;
}

@media screen and (max-width: 700px) {
  .top-header .top-header-logo span {
    display: none;
  }

  .top-header .top-header-logo .fa {
    display: flex;
    font-size: 20px;
  }
}

.top-header .top-header-search {
  height: 25px;
  width: 300px;
  padding-left: 15px;
  font-size: 14px;
  border: 1px Solid #494545;
  border-radius: 15px;
}

@media screen and (max-width: 700px) {
  .top-header .top-header-search {
    width: 150px;
  }
}

.top-header .top-header-search:focus {
  outline: none;
}

.top-header .top-header-nav {
  display: flex;
  justify-content: flex-end;
  font-family: sans-serif, "Lato";
}

.top-header .top-header-nav li {
  list-style: none;
  color: #494545;
  margin: 5px;
}

.top-header .top-header-nav a {
  text-decoration: none;
  color: #494545;
  font-size: 18px;
  padding: 4px 8px;
}

.top-header .top-header-nav a:hover {
  background-color: #494545;
  color: #fff;
}

.top-header .top-header-nav a .black:hover {
  background-color: #494545;
}
