.no-display {
  display: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px Solid #c7c3c3;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  background-color: #f0eeee;
}

.header .header__logo {
  font-family: "Permanent Marker";
  font-size: 18px;
  color: #494545;
}

.header .header__logo .fa {
  display: none;
  padding: 4px 6px;
}

.header .header__logo .fa:hover {
  color: white;
  background-color: #494545;
}

@media screen and (max-width: 700px) {
  .header .header__logo span {
    display: none;
  }
  .header .header__logo .fa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
  }
}

.header .header__search {
  height: 25px;
  width: 300px;
  padding-left: 15px;
  font-size: 14px;
  border: 1px Solid #494545;
  border-radius: 15px;
}

@media screen and (max-width: 700px) {
  .header .header__search {
    width: 150px;
  }
}

.header .header__search:focus {
  outline: none;
}

.header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: Lato;
}

.header .header__nav li {
  list-style: none;
  color: #494545;
  margin: 5px;
}

.header .header__nav a {
  text-decoration: none;
  color: #494545;
  font-size: 18px;
  padding: 4px 8px;
}

.header .header__nav a:hover {
  background-color: #494545;
  color: #fff;
}

.header .header__nav a .black:hover {
  background-color: #494545;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  font-family: Lato;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #494545;
}

.main .main__content {
  margin: 30px 20px 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 300px;
}

@media screen and (max-width: 800px) {
  .main .main__content {
    margin-top: 5px;
    margin-bottom: 0;
  }
}

.main .main__content h1 {
  font-size: 25px;
}

.main .main__content p {
  font-size: 20px;
  line-height: 1.5;
}

.main .main__content a {
  text-decoration: none;
  color: #494545;
  font-size: 20px;
  padding: 10px 40px;
  border: 1px solid #494545;
  max-width: 102px;
  background-color: #cfdacd;
}

.main .main__content a:hover {
  background-color: #494545;
  color: #fff;
}

@media screen and (max-width: 400px) {
  .main .main__content a {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-right: 20px;
  }
}

.main .main__img {
  padding: 10px;
  margin-top: 30px;
}

.main .main__img img {
  width: 100%;
  max-width: 700px;
  max-height: auto;
}

@media screen and (max-width: 400px) {
  .main .main__img {
    margin-top: 10px;
  }
}

.main .main__left {
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px Solid #c7c3c3;
  background-color: #f0eeee;
  width: 300px;
  padding: 10px;
}

@media screen and (max-width: 700px) {
  .main .main__left {
    display: none;
  }
}

.main .main__left .main__left__nav li {
  list-style: none;
  padding: 10px;
}

.main .main__left .main__left__nav a {
  text-decoration: none;
  font-size: 14px;
  color: #494545;
}

.main .main__left .main__left__nav a:hover {
  color: #676C68;
}

.main .main__left .main__left__nav i {
  padding-right: 5px;
}

.main .main__left .main__left__bar {
  color: #494545;
  padding: 10px;
  font-size: 14px;
  width: 100%;
}

.main .main__left .main__left__bar:before {
  content: "\203A";
  font-size: 25px;
  padding-right: 13px;
}

.main .main__left .main__left__bar:hover {
  cursor: pointer;
  color: #676C68;
}

.main .main__left .active:before {
  content: "\2304";
  padding-right: 0px;
}

.main .main__left .main__left__section {
  padding: 0px 25px;
  font-size: 14px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.main .main__left .main__left__section .section__item {
  padding: 10px;
}

.main .main__left .main__left__section .section__item:hover {
  cursor: pointer;
  color: #676C68;
}

.main .main__left .main__left__section .section__item:before {
  content: "\2022";
  padding-right: 10px;
}

.main .main__left .main__left__section .add-section {
  color: #585555;
}

.main .main__left .main__left__section .add-section:before {
  content: "\FF0B";
  font-size: 15px;
  padding-right: 5px;
}

.main .main__left .main__left__section .add-section:hover {
  background-color: #494545;
  color: #fff;
}

.main .main__tasks {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  width: 800px;
  border: 1px Solid #494545;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 2;
      flex-shrink: 2;
}

.main .main__tasks .main__tasks__capture {
  font-size: 18px;
}

.main .main__tasks .main__tasks__item {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}

.main .main__tasks .main__tasks__item input {
  width: 18px;
  height: 18px;
}

.main .main__tasks .main__tasks__item .item_title {
  padding-left: 20px;
}

.main .showed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=index.css.map */